<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>로그인 - MYSHOP</title>
  <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
  {{>partials/header}}

  <main class="container">
    <section class="auth">
      <h1>로그인</h1>
      {{#error}}
      <div class="form-error">{{error}}</div>
      {{/error}}
      {{#errors}}
      <div class="form-error">{{defaultMessage}}</div>
      {{/errors}}
      <form class="auth-form" method="post" action="/login">
        <label>
          이메일
          <input type="email" name="email" placeholder="email@example.com" />
        </label>
        <label>
          비밀번호
          <input type="password" name="password" />
        </label>
        <button class="btn primary" type="submit">로그인</button>
      </form>
      <p class="auth-help">계정이 없나요? <a href="/signup">회원가입</a></p>
    </section>
  </main>
  {{>partials/footer}}
</body>
</html>
